---
- name: Prepare system (common)
  hosts: web
  become: true
  roles:
    - common

- name: Install and configure MySQL client & import schema
  hosts: web
  become: true
  roles:
    - mysql

- name: Deploy EpicBook app
  hosts: web
  become: true
  roles:
    - epicbook

- name: Install and configure Nginx
  hosts: web
  become: true
  roles:
    - nginx
